:root
{
    --custom-color-primary: #67F568;
    --custom-color-secondary: #FF0000;
    --custom-color-third: #5357F5;
    --custom-color-balck: #000000;
    --custom-color-white: #FFFFFF;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color:var(--custom-color-balck);
}

p
{
    color:var(--custom-color-white);
}

.card
{
    background-color:var(--custom-color-third);    
}

.button
{
    background-color:var(--custom-color-secondary);  
    border-radius: 12px;
}

#logo
{
    background-image: url("logo.png");
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.background
{
    width: 100%;
    height: auto;
}

.game
{
    width: 30%;
}

.text
{
    margin-left: 10px;
    margin-right: 10px;
}

.card-img-bottom
{
    height: 100px;
    width: auto;    
}

.text
{
    color:var(--custom-color-secondary) !important;
}

a
{
    color: var(--custom-color-balck);
}

.stelle {
    color: #FFFF33;
}